<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group2Maktab89 - About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="Home.html">Group2Maktab89</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about-us">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allposts/">All posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Register/Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <section class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <br>
            <h1>About</h1>
            <br>
              <p>Hello and Welcome to the MAKTAB blog.</p>
              <p>This blog was created by the group 2 of MAKTAB 89. The members of this group are:</p>
              <ul>
                  <li>Farhad Faghih</li>
                  <li>Sayyed Mohammad Razavi</li>
                  <li>Amin Najari</li>
                  <li>Nima Abarghoie</li>
                  <li>Hadi Heidari</li>
                  <li>Zahra Rezaei</li>
              </ul>
              <p>The pages of this blog are divided into two general categories:</p>
              <p>1- <b>Public pages:</b> including:</p>
              <ul>
                  <li>About-us, the page you are on</li>
                  <li>Contact-us, A page through which you can communicate with us</li>
                  <li>Home page, where you can see the last three posted posts</li>
                  <li>Posts page, where you can see all the posted posts</li>
                  <li>and A special page for each post, where in addition to viewing each post entirety along with the author's name and approved comments, you can also leave a comment (if you logged in). These comments will be displayed after management approval.</li>
              </ul>
              <p>2- <b>Dedicated pages:</b> including pages for authors and management.</p>
              <p>Enjoy and share your comments and suggestions with us through the form on the contact page.</p>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <p>Copyright &copy; 1401-1402
              <a href="/">Group2Maktab89</a>.
              Hamash Vas Mas :)
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>