<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group2Maktab89 - Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .bg-image-vertical {
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-position: right center;
background-size: auto 100%;
}

@media (min-width: 1025px) {
.h-custom-2 {
height: 100%;
}
}
</style>  

</head>


<body style="color: aliceblue;background-color: rgb(31, 31, 31);">
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">


        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form style="width: 23rem;" action="/login" method="POST" onsubmit="login(event, this)">

            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

            <div class="form-outline mb-4">
              <input name = "username" type="text" id="username" class="form-control form-control-lg">
              <label  class="form-label" for="username">Username</label>
            </div>

            <div class="form-outline mb-4">
              <input name="password" type="password" id="password" class="form-control form-control-lg">
              <label class="form-label" for="password">Password</label>
            </div>

            <div class="pt-1 mb-4">
              <button class="btn btn-info btn-lg btn-block" type="submit">Login</button>
            </div>

            <p>Don't have an account? <a href="/register" class="link-info">Register here</a></p>

          </form>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="../static/Jowhareh_galleries_poster_for_login_page.png" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>
    <script>

      async function login(event, el) {
          event.preventDefault()

          const response = await fetch(el.action, {
              method: el.method,
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                  username: el.querySelector("#username").value,
                  password: el.querySelector("#password").value,
              })
        })
        
        if (response.status === 200){
          alert("Welcome")
          window.location.replace("/")
        } else {
          alert("Invalid username or password")
        }
      }
    </script>

</body></html>