<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    #blog{
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

  </style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Impact Bootstrap Template - Blog Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>




    <!-- ======= Blog Details Section ======= -->
    <section  id="blog" class="blog">
      <div style="text-align: center;"  class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-12">

            <article class="blog-details">

              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</h2>
              <div>
              
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni omnis sapiente exercitationem accusantium, pariatur officiis facilis architecto natus placeat, hic expedita? Delectus, dolorem beatae. Ipsum iste perspiciatis laudantium at facilis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque esse similique corporis aliquam sed, debitis, suscipit nemo sint quisquam ab? Accusamus aut itaque eos, omnis porro sed magni totam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum blanditiis doloremque quam saepe, optio odio vero ipsum ipsa reprehenderit laborum quae tempore ex corporis! Explicabo sint sed est et alias!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aspernatur deserunt, obcaecati provident totam iste exercitationem fugiat dolores ut, eveniet consectetur. Impedit consequuntur sit sapiente quas fugit doloribus neque iste.

              </p>
              
              </div>
              



            </article><!-- End blog post -->
          </section>
      









          <section style=" background-color: rgb(31, 31, 31);margin-bottom: 0px;margin-top: 0px;padding-top: 0px;padding-bottom: 0px;">
            <div class="container my-5 py-5 text-dark">
              <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6">
                  <div class="card">
                    <div class="card-body p-4">
                      <div class="d-flex flex-start w-100">
                        <div class="w-100">
                          <h5>Add a comment</h5>
                          <div class="form-outline">
                            <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                            <label class="form-label" for="textAreaExample">What is your view?</label>
                          </div>
                          <div class="d-flex justify-content-between mt-3">
                            <button type="button" class="btn btn-danger">
                              Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>









          <section style=" background-color: rgb(31, 31, 31);margin-top: 0px;padding-top: 0px;">
            <div class="container my-5 py-5">
              <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10">
                  <div class="card text-dark">
                    <div class="card-body p-4">
                      <h4 class="mb-0">Recent comments</h4>
                      <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
          
                      <div class="d-flex flex-start">
                        <div>
                          <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                          <div class="d-flex align-items-center mb-3">
                            <p class="mb-0">
                              March 07, 2021
                            </p>
                            <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                            <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                            <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                          </div>
                          <p class="mb-0">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever
                            since the 1500s, when an unknown printer took a galley of type and
                            scrambled it.
                          </p>
                        </div>
                      </div>
                    </div>
          
                   
                  </div>
                </div>
              </div>
            </div>
          </section>
      



  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>