<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    #blog{
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

  </style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Group2Maktab89 - Post</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../static/assets/img/favicon.png" rel="icon">
  <link href="../../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Back to home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>



    <!-- ======= Blog Details Section ======= -->
    <section  id="blog" class="blog">
      <div style="text-align: center;"  class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-12">

            <article class="blog-details">

              <div class="post-img">
                <img src="../../{{post.image}}" alt="post image" class="img-fluid w-100">
              </div>

              <h2 class="title">{{post.title}}</h2>
              <div>
              
              <p>
                  {{post.body}}

              </p>
              
              </div>
              



            </article><!-- End blog post -->
          </div>
        </div>
      </div>
    </section>
      








{%if usertype != "not_logged_in"%}
          <section style=" background-color: rgb(31, 31, 31);margin-bottom: 0;margin-top: 0;padding-top: 0;padding-bottom: 0;">
            <div class="container my-5 py-5 text-dark">
              <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6">
                  <div class="card">
                    <div class="card-body p-4">
                      <div class="d-flex flex-start w-100">
                        <div class="w-100">
                          <h5>Add a comment</h5>
                          <form action="/post" method="POST" id="{{post.id}}" onsubmit="sendcomment(event, this)">
                              <div class="form-outline">
                                <textarea class="form-control" id="comment" rows="4"></textarea>
                                <label class="form-label" for="comment">What is your view?</label>
                              </div>
                              <div class="d-flex justify-content-between mt-3">
                                <button type="submit" class="btn btn-danger">
                                  Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                                </button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    {%endif%}




          <section style=" background-color: rgb(31, 31, 31);margin-top: 0;padding-top: 0;">
            <div class="container my-5 py-5">
              <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10">
                  <div class="card text-dark">
                    <div class="card-body p-4">

                      {% for comment in comments %}
                      <div class="d-flex flex-start">
                        <div>
                          <h6 class="fw-bold mb-1">{{comment.fullname}}</h6>
                          <div class="d-flex align-items-center mb-3">
                            <p class="mb-0">
                                {{ comment.date_created}}
                            </p>
{#                            <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>#}
{#                            <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>#}
{#                            <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>#}
                          </div>
                          <p class="mb-0">
                              {{comment.description}}.
                          </p>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
          
                   
                  </div>
                </div>
              </div>
            </div>
          </section>
      



  <!-- Vendor JS Files -->
  <script src="../../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/assets/vendor/aos/aos.js"></script>
  <script src="../../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/assets/js/main.js"></script>
  <script>

          async function sendcomment(event, el) {
              event.preventDefault()

              const response = await fetch(el.action, {
                  method: el.method,
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                      description: el.querySelector("#comment").value,
                      post_id: el.id,
                  })
            })

            if (response.status === 200){
              alert("Comment sent successfully. This comment will be shown after the administrator's approval")
                window.location.replace("/post/{{post.id}}")
            } else {
              alert("Invalid Input")
            }
          }
  </script>
</body>

</html>