<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group2Maktab89 - Superuser dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
              .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Group2Maktab89</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allposts/">All posts</a>
        </li>
        {%if usertype == "not_logged_in"%}
        <li class="nav-item">
          <a class="nav-link" href="/login">Register/Login</a>
        </li>
        {%endif%}
        {%if usertype == "admin" or usertype == "superuser"%}
        <li class="nav-item">
          <a class="nav-link" href="{{usertype}}/dashboard">Dashboard</a>
        </li>
        {%endif%}
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard">Admin Dashboard</a>
        </li>
        {%if usertype != "not_logged_in"%}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {%endif%}
      </ul>
    </div>
  </div>
</nav>

    <div class="container text-center">
      <br>
      <h1 style="margin-bottom: 80px;"><b>Superusers dashboard</b></h1>
        <div class="row">
          <div class="col">
            <h2>Posts</h2>
            <hr>
            
            {% for post in posts %}
            <div class="card" style="width: 18rem;">
                <img src="../{{post.image}}" class="card-img-top" alt="post image">
                <div class="card-body">
                  <h5 class="card-title"><a href="/post/{{post.id}}">{{post.title}}</a></h5>
                  <p class="card-text">{{post.body[0:50]}}</p>
                  <button class="btn btn-danger" id="{{post.id}}" onclick="deletepost(event, this)">Delete</button>
                </div>
            </div>
            {% endfor %}





          </div>
          <div class="col">
            <h2>Comments</h2>
            <hr>


            {%for comment in comments%}
            <div class="card w-75 mb-3">
                <div class="card-body">
                  <p class="card-text">{{comment.description}}</p>
                </div>
                <div class="card-footer text-muted">
                  <p>{{comment.date_created}}</p>
                  <p>on <a href="/post/{{comment.post_id}}">{{comment.on_post.title}}</a></p>
                  <p> by {{comment.owner.fullname}}</p>
                  <button class="btn btn-danger" id="{{comment.id}}" onclick="deletecomment(event, this)">Delete</button>
                  <button class="btn btn-primary" id="{{comment.id}}" onclick="approvecomment(event, this)">Approve</button>
                </div>
            </div>
            {%endfor%}


          </div>
          <div class="col">
            <h2>Messages</h2>
            <hr>
            {%for message in messages%}
            <div class="card w-75 mb-3">
                <div class="card-body">
                  <p class="card-text">{{message.description}}</p>
                </div>
                <div class="card-footer text-muted">
                  <p>{{message.created_by}}</p>
                  <p>({{message.email}})</p>
                  <p>{{message.date_created}}</p>
                  <button class="btn btn-danger" id="{{message.id}}" onclick="deletemessage(event, this)">Delete</button>
                </div>
            </div>
            {%endfor%}



          </div>
        </div>
      </div>


    <footer class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <p>Copyright &copy; 1401
              <a href="/">Group2Maktab89</a>.
              Hamash Vas Mas.
            </p>
          </div>
        </div>
      </div>
    </footer>
<script>

      async function deletemessage(event,el) {
          event.preventDefault()

          const response = await fetch("/superuser/messages", {
              method: "DELETE",
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                  id: el.id
              })
        })

        if (response.status === 200){
          alert("Message deleted successfully!!!")
            window.location.replace("/superuser/dashboard")
        } else {
          alert("Could not delete...")
        }
      }
    </script>

<script>

      async function deletecomment(event,el) {
          event.preventDefault()

          const response = await fetch("/superuser/comments", {
              method: "DELETE",
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                  id: el.id
              })
        })

        if (response.status === 200){
          alert("Comment deleted successfully!!!")
            window.location.replace("/superuser/dashboard")
        } else {
          alert("Could not delete...")
        }
      }
    </script>

<script>

      async function approvecomment(event,el) {
          event.preventDefault()

          const response = await fetch("/superuser/comments", {
              method: "PATCH",
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                  id: el.id
              })
        })

        if (response.status === 200){
          alert("Comment approved successfully!!!")
            window.location.replace("/superuser/dashboard")
        } else {
          alert("Could not approved...")
        }
      }
    </script>
<script>

      async function deletepost(event,el) {
          event.preventDefault()

          const response = await fetch("/superuser/posts", {
              method: "DELETE",
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                  id: el.id
              })
        })

        if (response.status === 200){
          alert("Post deleted successfully!!!")
            window.location.replace("/superuser/dashboard")
        } else {
          alert(response.status)
        }
      }
    </script>
  </body>